
 <div class="site-wrapper">

      <div class="site-wrapper-inner">
      <div class ="filmstripone-img"></div>
      <div class ="filmstriptwo-img"></div>

        <div class="cover-container">

        <div class="start"></div>
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">The King's Playlist</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="/songs">Songs</a></li>
                  <li class="active"><a href="/aboutme">About Me</a></li>
                </ul>
              </nav>
              <div class="cross-img"></div>
              <div class="guitar-img"></div>
            </div>
          </div>

              <div class="textwrapone"><h1>Son of the One Mighty King...</h1></div>
              </br>
              </br>

              <div class="textwraptwo">
              <p>"For God, for my family, and for the people", that's what I declare every morning, just to remind myself why I do what I do, and so I guess that's the best way I can describe myself.</br></br>

              October 7th, 2005 was the day I accepted Jesus as my Lord and Saviour. I was born a Catholic, I went to church every week, but I never really understood what it meant to have a relationship with Jesus. On that day, I accepted Jesus on the basis that the second coming was near and I was afraid I was going to be left behind...weird ey? But from then on, God has continued to mold me, slowly, and I mean real slowly, I began surrendering my life and realized how I was totally changed. Growing up with this awesome ministry called Heart of the King, I started singing, learning to lead worship alongside great leaders (Hadi Darmento and Ezra Adhitya to name a few) and here I am now, serving mainly through music, and just continuing to build this relationship with my one King, Jesus Christ. </br></br>

              I have a wonderful family of five, one older brother and one younger brother (Daniel and Samuel). It's just beyond words how blessed I am to be placed in this family, and even though we have our disagreements, this family is one thing I can give thanks for daily no matter how bad life seems.</br></br>

              Then there are the people around me, especially the Tunas Muda graduates of 2011 (Cavin, Stella, and William or the 'Funtastic 4' as we call ourselves; and many more). We literally have been through thick and thin, and until now, these people continue to shape me and encourage me to become a better servant of Christ. </br></br>

              Finally, the one girl that became a true inspiration to me, Kimberly Subianto. I can safely say she is the reason why this website could even come to life. Seeing her being very intentional with her talents, (read her blogs and you'll see what i mean <a href="http://www.kimberlysubi.com"><font color="green"> www.kimberlysubi.com </font> </a>) I was just encouraged to do the same with mine. </br></br>

              In general, I'm a sports lover, basketball mainly, and I love going on hikes in the summer, having lived my last few years in the most beautfiul place on earth, Vancouver, British Columbia. I'm a big Chelsea fan (go blues!), and have always been a fan of the Los Angeles Lakers and the San Antonio Spurs. As for food, I'll stick with my all-time favourite, TOFU! Haha...Anyway, this is getting too long...</br></br>

              To summarize, I'm His beloved, a singer/songwriter, forever a Vancouverite, and one proud Indonesian. #allforJesus #horray
              </p>

              </div>

          </div>
     </div>
</div>

