 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

        <div class="start"></div>
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">The King's Playlist</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/songs">Songs</a></li>
                  <li><a href="#">About Me</a></li>
                </ul>
              </nav>
              <div class="cross-img"></div>
              <div class="guitar-img"></div>
            </div>
          </div>

<h1 class="paragraph"> Everlasting God </h1>
<h4><em> feat. Susi </em></h4>
<em>May 22nd, 2014</em>
</br>
</br>
<audio controls>
	<source src="/sound/Everlasting God.mp3" type="audio/mpeg">
</audio>

</br>
</br>

<a href="/images/everlastinggod.pdf" download><font color="green"> Click here to download chords </font></a>

</br>
</br>

"The Lord your God is in your midst,</br>
    a mighty one who will save;</br>
<b>he will rejoice over you with gladness;</b></br>
    he will quiet you by his love;</br>
he will exult over you with loud singing."</br>
(Zephaniah 3:17)</br></br>


If God can rejoice because of us, why can't we rejoice simply because of having Him among us? There's no need for a special occasion for us to be happy, we have countless reasons already, we just need to recall some of them. Its all those simple things we can be thankful about: the fact that we're still breathing, the sun we see, the pouring rain, the fact that someone opened the door for you, or said thanks when you opened the door for them. The fact that you're safe and sound while others out there are fighting for their lives.</br></br>

That's the main idea behind this song. The fact that we have a faithful Father who cares; who never leaves us at any state of our lives. He remains the same today, tomorrow, and for the next thousand years, and so I urge you to reflect upon your blessings, don't count them because you'll never finish counting! hahaha....Ponder upon your beautiful life and just show that smile of yours, whether its a creepy smirk or a jaw-dropping laughter. Here's a song I want to share with you...Be blessed and continue to be a blessing! :) </br></br>

PS. Susi is simply my voice edited! Haha... </br></br>

<h3>Lyrics</h3></br>

Where do I start, to give You thanks</br>
Maybe the air that I breathe, or the joy that I feel</br>        
Maybe the sun that I see, or the rain that brings new life on Earth</br>
They’re just so beautiful to me…</br>
Let me marvel at Your creation</br>
As I sing this melody…</br></br>
 
Chorus</br>
The warmth of the day shows me You are near</br>
The stars in the sky shows I have nothing to fear</br>
Your loving embrace makes me calm and still</br>
The way You comfort me gives me that new thrill</br>
You give me everything I need</br>
Show me what beauty means</br>
You teach me to believe and to hope in You</br>                     
You’re my everlasting God</br>
And I love You…</br></br>
 
You first love me, yes You did</br>
Lord to make You smile, is my life long dream</br>
To give You everything, glory to the King</br>
I give my life to You, as You gave me Yours</br></br>
 
Oh, let me dwell in Your affection</br>
As I sing this melody</br></br>
 
Bridge</br>
As the storm starts to roar</br>
And the wave shows its rage</br>
You keep me safe, right beside You</br>
My Father, my Lord</br>
My King, my Redeemer</br>
My Friend, my Lover</br>
That’s who You are to me…  </br></br>

"Rejoice always, pray without ceasing, give thanks in all circumstances;</br> for this is the will of God in Christ Jesus for you."
(1 Thessalonians 5:16-18)</br></br>
 </p>


          </div>
      </div>
  </div>
